button,
.toggle-comments {
	margin-top: 8px;
}
.notification {
	display: none;
}
.refresh {
	margin: 8px;
}
.article-category {
	text-transform: uppercase;
	font-size: smaller;
}
.modal {
	overflow: hidden;
}
.modal-content {
	background-color: white;
	margin: 10px;
}

#articles-container {
	padding: 20px;
}
