.notification {
	display: none;
}
.refresh {
	margin: 8px;
}
.article-category {
	text-transform: uppercase;
	font-size: smaller;
}
.level {
	margin-top: 0.75rem;
}
.modal-content {
	background-color: white;
	margin: 10px;
}
#comment_body {
	margin: 10px 0px;
}

/*Media Queries*/
@media (min-width: 500px) {
	#articles-container {
		padding: 45px 75px;
	}
}

@media screen and (max-width: 499px) {
	/* For mobile phones: */
	#articles-container {
		padding: 20px;
	}
}
