button .toggle-comments {
	margin-top: 6px;
}
.notification {
	display: none;
}
.delete {
	margin: 5px;
}
.article-category {
	text-transform: uppercase;
	font-size: smaller;
}
.modal-content {
	background-color: white;
	margin: 10px;
}

#articles-container {
	padding: 10px 20px;
}
